body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0f0f0f; /* Темный фон для контраста */
    color: #ffffff;
    overflow-x: hidden;
    position: relative;
    /* display: flex; */
    flex-direction: column;
    min-height: 100vh; /* Минимальная высота страницы */
}
header {
    background: rgba(15, 15, 30, 0.8);
    padding: 20px;
    text-align: center;
    position: fixed; /* Фиксированный заголовок */
    width: 100%;
    top: 0;
    z-index: 10; /* Чтобы заголовок был выше остальных элементов */
    box-shadow: 0 2px 10px rgba(255, 255, 255, 0.2);
}
h1 {
    font-size: 2.5em;
    margin: 0;
    animation: fadeIn 1s;
    color: #e0aaff; /* Светло-фиолетовый */
}
nav {
    margin: 20px 0;
}

nav a {
    margin: 0 15px;
    text-decoration: none;
    color: #e0aaff;
    font-weight: bold;
    transition: color 0.3s;
}
nav a:hover {
    color: #e0aaff9d; /* Ярко-розовый при наведении */
}
.container {
    max-width: 1200px;
    margin: 120px auto 0; /* Отступ сверху для фиксированного заголовка */
    padding: 20px;
    display: none;
    animation: fadeIn 0.5s;
    position: relative; /* Для звезд */
    z-index: 1; /* Чтобы текст был выше звезд */
    flex: 1; /* Позволяет контейнеру занимать оставшееся пространство */
}
.ice-cream {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.ice-cream-item {
    background: rgba(255, 255, 255, 0.2); /* Полупрозрачный фон */
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.3);
    margin: 10px;
    padding: 20px;
    width: calc(30% - 20px);
    transition: transform 0.3s, box-shadow 0.3s;
}
.ice-cream-item:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(255, 255, 255, 0.5);
}

.ice-cream-item a{
    color: white;
    outline: none;
}

img {
    max-width: 100%;
    border-radius: 10px;
    filter: brightness(0.9);
}
.cart, .profile, .about {
    display: none;
}
.cart-item {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
footer {
    background-color: rgba(15, 15, 30, 0.9);
    color: #ffffff;
    text-align: center;
    padding: 20px; /* Уменьшенный отступ */
    position: relative;
    bottom: 0;
    width: 100%;
}
footer .social-links {
    margin-top: 10px;
}
footer .social-links a {
    cursor: pointer;
    margin: 0 10px;
    display: inline-block;
}

footer .social-links img {
    width: 30px; /* Размер иконок социальных сетей */
    height: 30px;
    transition: transform 0.3s;
}
footer .social-links img:hover {
    transform: scale(1.1); /* Эффект при наведении */
}
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
@media (max-width: 768px) {
    .ice-cream-item {
        width: calc(48% - 20px);
    }
}
@media (max-width: 480px) {
    .ice-cream-item {
        width: 100%;
    }
}
.star {
    position: absolute;
    background: white;
    border-radius: 50%;
    opacity: 0;
    animation: twinkle 1.5s infinite alternate;
}
@keyframes twinkle {
    from {
        opacity: 0.8;
    }
    to {
        opacity: 0;
    }
}

::selection {
background-color: #ffcc00; /* Цвет фона выделенного текста */
color: #000; /* Цвет текста выделенного текста */
}

input[type="text"],
input[type="number"],
textarea {
/* width: 100%; */
padding: 10px;
margin-bottom: 10px;
border: 1px solid #ccc;
border-radius: 5px;
box-sizing: border-box;
}

button {
padding: 10px 20px;
background-color: #6600B6;
color: #fff;
border: none;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}

button:hover {
background-color: #555;
}

.quantity-control {
display: flex;
align-items: center;
margin: 10px 0;
}

.quantity-control button {
background-color: #e0aaff;
color: #ffffff;
border: none;
padding: 10px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
width: 40px; /* Ширина кнопок */
}

.quantity-control button:hover {
background-color: #d28ee2; /* Цвет при наведении */
}

.quantity-input {
width: 60%; /* Ширина поля ввода */
text-align: center;
margin: 0 5px; /* Отступы между кнопками */
}

#edit-form {
margin-top: 10px;
padding: 10px;
border: 1px solid #ccc;
border-radius: 5px;
background-color: #f9f9f9;
}
#editing-products{
border: 1px solid #fff;
box-shadow: #ffffff 1px 2px 16px;
border-radius: 10px;
color: #fff;
text-decoration: none;
cursor: pointer;
margin: 0px 20px;
padding: 14px 16px;
transition: background-color 0.3s ease;
}