@import url('https://fonts.googleapis.com/css2?family=Balsamiq+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Grandstander:ital,wght@0,100..900;1,100..900&display=swap');

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html, body {
  height: 100%; /* Гарантируем, что высота страницы всегда 100% */
}

input {
  outline: none;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  /* outline: 1px solid red; */
}

a {
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
}

body {
  min-width: 320px;
  color: white;
  font-family: 'Grandstander', cursive;
  overflow-y: auto;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
}

.container-right {
	overflow-x: hidden;
	padding-left: calc((100% - 1750px) / 2 + 15px);
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}

.btn {
  padding: 0;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  font-family: 'Grandstander', cursive;
}

.flex {
  display: flex;
}


/* SEARCH */
.header__form {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 1s;
  width: 50px;
  height: 50px;
  background: white;
  box-sizing: border-box;
  border-radius: 4px;
  border: 4px solid white;
  padding: 5px;
}

.header__input {
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 42.5px;
  line-height: 30px;
  outline: 0;
  border: 0;
  font-size: 1em;
  border-radius: 20px;
  padding: 0 20px;
}

.fa {
  box-sizing: border-box;
  padding: 10px;
  width: 42.5px;
  height: 42.5px;
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 4px;
  color: #07051a;
  text-align: center;
  font-size: 1.2em;
  transition: all 1s;
}

.header__form:focus-within,
.header__form:hover,
.header__form:valid{
  width: 200px;
  cursor: pointer;
}

.header__form:hover .header__input,
.header__form:focus-within .header__input,
.header__form:valid .header__input {
  width: 100%;
} 

.header__form:hover .fa,
.header__form:focus-within .fa,
.header__form:valid .fa {
  background: #07051a;
  color: white;
}

.search__btn {
  display: none;
  position: absolute;
  top: 70px;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 20px;
  color: white;
  padding: 4px;
  min-height: max-content;
  background: transparent;
  outline: 0;
  border: 1px solid #303030;
  border-radius: 4px;
  text-align: center;
  width: 100%;
  cursor: pointer;
}

.header__form:valid .search__button {
  display: block;
}


/* header */

.header__main {
  background: url('../img/background_first.png') no-repeat center center / cover;
  height: 101vh;
}

.header__wrapper {
  align-items: center;
  justify-content: center;
}

.header__logo {
  position: absolute;
  left: 100px;
}

.header-logo__img {
  height: 100px;
}

.header__nav {
  margin-left: 100px;
}

.nav__list {
  gap: 120px;
  align-items: center;
}

.nav__link {
  font-size: 20px;
  cursor: pointer;
  position: relative;
  text-decoration: none; /* Если нужно убрать подчеркивание ссылок */
}

.link-inner {
  padding-right: 30px;
  align-items: center;
}

.nav__link::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #8000ff;
  border: 0;
  transition: width 0.35s ease;
}

.nav__link:hover::before {
  width: 100%;
}

.list__item:has(form) {
  margin-top: 50px;
}



/* section content */
.content__wrapper {
  align-items: center;
}

.content__wrapper-text {
  max-width: 740px;
  margin-left: 90px;
}

.content__title {
  font-family: 'Balsamiq Sans', sans-serif;
  font-weight: 900;
  font-size: 120px;
}

.content__text {
  font-size: 32px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.content__btn {
  width: 170px;
  height: 50px;
  font-size: 20px;
  background-color: #F3CB60;
  margin-left: 30px;
}


/* about */

.about {
  background: url('../img/about-bg.png') no-repeat center center / cover;
  height: 101vh;
  margin-top: -5px;
  padding-top: 50px;
  opacity: 80%;
}

.about-container {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.about__title {
  font-size: 120px;
  text-align: center;
}

.about-wrapper {
  width: 1300px;
  height: 395px;
  margin-top: 60px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  background-color: #020204d1;
}

.about__content-wrapper {
  width: 1000px;
}

.about-content__title {
  text-align: center;
  color: #6F06C2;
  font-size: 80px;
  margin-bottom: 50px;
}

.about-content__text {
  font-size: 40px;
  text-align: center;
  letter-spacing: 6%;
}

/* new */
.new {
  background: url('../img/new_bg.png') no-repeat center center / cover;
  height: 101vh;
  margin-top: -5px;
  padding-top: 50px;
}

.new__title {
  font-size: 120px;
  text-align: center;
  margin-bottom: 80px;
}

.new__link-catalog {
 justify-content: center;
 margin-top: 50px;
 font-size: 20px;
 text-decoration: underline;
}

/* Slider */

.slide {
	padding-left: 25px;
  padding-right: 45px;
}

.slide__title {
  margin-bottom: 15px;
  font-size: 25px;
  text-align: center;

}

.slide__img {
  width: 100%;
  /* height: 250px; */
  border-radius: 10px;
}

.slide__price-btn-wrapper {
  justify-content: space-around;
  align-items: center;
  margin-top: 15px;
}

.slide__price {
  font-size: 25px;
}

.slide__btn {
  width: 180px;
  height: 50px;
  color: white;
  background-color: #6F06C2;
}


/* contact-us */
.contact-us {
  flex-direction: row;
  background: url('../img/contact-bg.png') no-repeat center center / cover;
  height: 100vh;
  padding-top: 50px;
}

.contact-us__wrapper {
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.contact-us__content {
  /* width: 600px; */
  flex-direction: column;
  gap: 20px;
  flex: 1;
  max-width: 35%;
}

.contact-us__title {
  font-size: 35px;
}

.contact-us__description {
  font-size: 25px;
  font-family: 'Balsamiq Sans', sans-serif;
}

.contact-us__description-span{
  display: inline-block;
  position: relative;
  box-shadow: 0 -2px 0 #fff, 0 2px 0 #fff;
  padding: 2px 0;
}

.contact-us__social {
  gap: 20px;
}

.social-list__icon {
  width: 50px;
}

/* form */

.contact-us__form-wrapper {
  flex: 1;
  max-width: 30%; 
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  margin: 0 auto;
}

.contact-form__row {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.contact-form__input,
.contact-form__textarea {
  width: 100%; 
  padding: 10px; 
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 10px;
  box-sizing: border-box;
}

.contact-form__input {
  flex: 1;
  height: 50px;
}

.contact-form__input-email {
  width: 100%; 
  height: 50px;
  padding: 10px; 
  font-size: 16px; 
  border: 1px solid #ccc; 
  border-radius: 10px;
  box-sizing: border-box;
}

.contact-form__textarea {
  resize: vertical;
  min-height: 100px;
}

.contact-form__button {
  height: 50px;
  padding: 12px 20px;
  font-size: 16px;
  color: #fff;
  background-color: #8000ff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact-form__button:hover {
  background-color: #6600cc;
}


/* footer */
.footer {
  height: 100px;
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center;
  background-color: #6600cc;
}

.footer__content {
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.footer__title {
  font-size: 20px;
}

.footer__text-email {
  margin: 5px 0 0;
  font-size: 14px;
}




/* catalog */
.body_catalog {
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url('../img/background_first.png') no-repeat center center / cover;
  background-attachment: fixed;
  background-size: auto;
  height: 100vh; 
  margin: 0;
}

.main__catalog {
  flex: 1;
}

.catalog__nav {
  margin-top: 50px;
  margin-left: 80px;
}

.nav__title-categories {
  font-size: 35px;
  margin-bottom: 20px;
}

.categories__item:last-child {
  margin-bottom: 0;
}

.categories__item a {
  /* text-decoration: none; */
  /* color: #555; */
  /* font-size: 18px; */
  /* font-weight: 500; */
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

.categories__item a::before {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px; /* Расстояние от текста до полоски */
  width: 0;
  height: 2px;
  background-color: #8000ff; /* Цвет полоски */
  transition: width 0.3s ease; /* Плавный эффект */
}

.categories__item a:hover::before {
  width: 100%;
}


.catalog__categories {
  display: grid;
  gap: 18px;
}

.categories__item {
  font-size: 17px;
}


.product-catalog {
  padding: 20px;
}

.product-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 элемента в ряд */
  gap: 20px;
}

.product-slide {
  /* background-color: #f9f9f9; */
  /* border: 1px solid #ddd; */
  /* border-radius: 8px; */
  /* padding: 15px; */
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-slide:hover {
  transform: translateY(-5px);
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
}

.product-slide__img {
  max-width: 65%;
  height: auto;
  margin-bottom: 10px;
  border-radius: 8px;
}

.product-slide__title {
  font-size: 18px;
  margin-bottom: 10px;
  color: #fff;
}

.product-slide__info {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.product-slide__price {
  font-weight: bold;
  color: #fff;
  font-size: 20px;
}
