<footer>
    <div>
      <div class="footer__content flex">
        <h3 class="footer__title">SpaceCream</h3>
        <p class="footer__text-email">spacecream@gmail.com</p>
      </div>
    </div>
  </footer>